*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background-color: white;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.reg h2{
    font-size: 20px;
    margin-bottom: 10px;
}

#under_title
{
    color: black;
    font-size: xx-large;
    text-transform:uppercase;
    text-align: center;
    font-weight: bold;
    position: relative;
}

.reg
{
    text-align: center;
    background-color: white;
    width:100%;
    max-width: 450px;
    border: solid 4px black;
    border-radius: 10px;
    margin-top: 120px;
    padding: 10px;
    
}

.label
{
    text-align: center;
}

.in-container{
    margin-bottom: 15px;
}

.err-message
{
    text-align: right;
    position: absolute;
    margin-left: 130px;
    font-size: small;
    color: crimson;
    width: auto;
    height: auto;
    margin-right: 135px;
}

#submit
{
    position: relative;
    margin-top: auto;
}