/* Generale */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

h2, h3{
  font-family: 'Montserrat', Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  body {
    background-color: #f0f8ff;
    color: #004d61;
    line-height: 1.6;
    background-image:  url('../images/sfondo.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-size: 100% 100%;
  }

  /* Navbar  seleziona navbar avente id=navbar*/
  #navbar {
    background-color: #004d61;
    padding: 10px;
    text-align: center;
  }
  
  #navbar p {
    font-family: 'Montserrat', Arial, sans-serif;
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
    transition: color 0.3s;
  }
  
  #navbar a {
    font-family: 'Montserrat', Arial, sans-serif;
    color: rgb(9, 193, 244);
    text-decoration: none;
  }
  #navbar a:hover {
    color: rgb(9, 193, 244);
    text-decoration: underline;
  }
  
  .services {
    display: flex;
    justify-content: space-around;
    padding: 5% 2%;
  }
  
  .services .service {
    margin-bottom: 5%;
    background-color: #e0e0e0;
    padding: 20px;
    border-radius: 10px;
    width: 30%;
    text-align: center;
  }

  /* Section */
  #section {
    text-align: center;
    margin: 20px;
  }
