* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f0f8ff;
    color: #ffffff;
    line-height: 1.6;
    background-image:  url('../images/sfonno.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-size: 100% 100%;
    text-align: center;
}

.titolo{
    color: #000000;
    font-size: 2.5rem;
}

.img{
    max-width: 200px;
    height: auto;
    border-radius: 8px;
}

.card-img-top {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 15px;
}

/*********** pesci ***********/
/*
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
  }
  
  .col-md-4 {
    flex: 0 0 33.3333%;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
  }
*/
.cards-container {
    
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: .50rem;
    margin-top: 1rem;
  }

  .card{
    text-align: center;
    /*border : 2px solid #000000;*/
    border: 10px solid white;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombra per l'effetto sollevato */
    padding: 1rem;
    max-width: 300px;
  }

  .hide{
    display: none;
  }
 /* .card {
    text-align: center;
    display: grid;
    background-color: #fff;
    /*border: 3px solid #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s;
    /*margin-bottom: 5%;
    max-width: 300px;
    margin: 3%;
    height: auto;
  }
  */
  .card:hover {
    transform: translateY(-5px);
  }

  .card-title {
    font-size: 1.25rem;
    margin-bottom: 10px;
    color: #004d61;
  }
  
  .card-body {
    padding: 5%;
    border-radius: 4px;
    font-size: 1rem;
    background-color: #ececec;
    color: #000000;
    margin-bottom: 20px;
  }
/*  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #004d61;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.2s;
  }
  
  .btn:hover {
    background-color: #003d51;
  }
*/

  #search-container {
    display: flex;
    justify-content: center;
    margin-top: 10px; /* Aggiungi un po' di spazio sopra la barra di ricerca */
    margin-bottom: 50px;
  }

  #search {
    width: 50%; /* Rendi la barra di ricerca più grande */
    padding: 10px; /* Aggiungi padding per rendere la barra di ricerca più alta */
    font-size: 16px; /* Aumenta la dimensione del testo */
    border-radius: 25px; /* Rendi gli angoli della barra di ricerca tondeggianti */
    border: 3px solid #ccc; /* Aggiungi un bordo leggero */
    outline: none; /* Rimuovi il contorno predefinito */
    transition: border-color 0.2s; /* Aggiungi una transizione per il colore del bordo */
}

  #search:focus {
    border-color: #004d61; /* Cambia il colore del bordo quando la barra di ricerca è focalizzata */
}