@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f0f8ff;
    color: #ffffff;
    line-height: 1.6;
    background-image:  url('../images/sfondo.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-size: 100% 100%;
    text-align: center;
}

.img{
    max-width: 200px;
    height: auto;
    border-radius: 8px;
}

/*************** carte *****************/
.card-img-top {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 15px;
}

.cards-container, #cart-content { /*cart-content è per il carrello*/
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: .50rem;
    margin-top: 1rem;
    padding-bottom: 50px;
  }

  .card{
    text-align: center;
    border: 10px solid white;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombra per l'effetto sollevato */
    padding: 1rem;
    max-width: 300px;
  }

  .hide{
    display: none;
  }

  .card:hover {
    transform: translateY(-5px);
  }

  .card-title {
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: bold;
    font-size: 1.25rem;
    margin-bottom: 10px;
    color: #004d61;
  }
  
  .card-body {
    padding: 5%;
    border-radius: 4px;
    font-size: 1rem;
    background-color: #ececec;
    color: #000000;
    margin-bottom: 20px;
  }

  #price {
    font-size: 1.5rem;
    color: #004d61;
  }

  #search-container {
    display: flex;
    justify-content: center;
    margin-top: 10px; /* Aggiungi un po' di spazio sopra la barra di ricerca */
    margin-bottom: 50px;
  }

  #search {
    width: 50%; /* Rendi la barra di ricerca più grande */
    padding: 10px; /* Aggiungi padding per rendere la barra di ricerca più alta */
    font-size: 16px; /* Aumenta la dimensione del testo */
    border-radius: 25px; /* Rendi gli angoli della barra di ricerca tondeggianti */
    border: 3px solid #ccc; /* Aggiungi un bordo leggero */
    outline: none; /* Rimuovi il contorno predefinito */
    transition: border-color 0.2s; /* Aggiungi una transizione per il colore del bordo */
}

  #search:focus {
    border-color: #004d61; /* Cambia il colore del bordo quando la barra di ricerca è focalizzata */
}

.quantity-container {
  align-items: center;
  justify-content: center;
}

.quantity-container p {
  color: #004d61;
}

/********************* stile del pop-up ****************************/

.popup {
  display: none; /* Nascondi il pop-up di default */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5); /* Sfondo semi-trasparente */
}

.popup-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  border-radius: 8px;
  text-align: center;
  color:#004d61;
}

.btn{
  background-color: #004d61;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
}

.btn:hover {
  background-color: #003d51;
}

.close
{
  color: #888;
  float: right;
  font-size: 1em;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #004d61;
  text-decoration: none;
  cursor: pointer;
}
/*************************************************/

/*--------------stelline------------------------*/

.stars i.active {
  color: #ff9c1a;
 }

/*--------------Carrello------------------------*/

#cart-button-container{
  display: flex;
  justify-content: left;
  gap: 10px;
}

#total{
  width: 100%;
  margin-bottom: 0px;
  position: relative;
  padding-top: 7px;
}

/*-----------------------contenitore del totale lato server------------------------*/
#total-container{
  padding-top: 7px;
}

#cart-total {
  font-size: 1.5em; /* Dimensione del testo */
  font-weight: bold;
  color: #004d61;
  margin-bottom: 0px;
  border: solid #004d61; 
  border-radius: 6px;
  text-align: right;
  background-color: #f9f9f9; 
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding-bottom: 10px;
}


/********* ricette ************/

.media{
  padding: 5%;
  font-size: 0.8em;
}