.sticky-header {
    top: 0;
    margin-bottom: 10px;
    width: 100%;
    background-color: transparent;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.7em;
  }

  #logo{
    max-width: 150px;
    height: auto;
  }

  .auth-buttons {
    display: flex;
    gap: 10px;
  }
  
  .auth-buttons a {
    color: #fff;
    text-decoration: none;
    font-size: medium;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 30px;
    background: linear-gradient(145deg, #6e7e9b, #4f5b91);
  }